---
// Component Imports
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Logo from '../../public/Logo.png';
import IllustrasiHero from '../../public/IlustrasiHero.png';

const Css = Astro.site + "/global.css";

const navbarItems = ["Home", "Tentang Corona", "Hotline"];

const navbarBtn = "Periksa Mandiri";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro + TailwindCSS</title>
    <link rel="stylesheet" type="text/css" href={Css} />
    <link rel="preconnect" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin />
    <link href="//fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  </head>

  <body class="font-body">
    <Navbar navbarItems={navbarItems} navbarBtn={navbarBtn}>
      <img class="h-10" src={Logo} alt="Logo" />
    </Navbar>

    <Hero>
      <span slot="hero-main-title">Mari Bersama CEGAH CORONA</span>
      <span slot="hero-main-desc">Covid-19 merupakan pandemi virus yang berbahaya dan dapat menyebar dengan cepat. Yuk kita harus bersatu untuk mengurangi penyebaran Covid-19 agar lebih banyak nyawa yang terselamatkan.</span>
      <span slot="hero-btn-title">Kenali Penyebarannya</span>
      <img slot="hero-image-main" src={IllustrasiHero} alt="Image Hero" />
    </Hero>

  </body>
</html>
