---
// Component Imports
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Logo from '../../public/Logo.png';
import IllustrasiHero from '../../public/IlustrasiHero.png';

const Css = Astro.site + "/global.css";

const navbarItems = ["Home", "Tentang Corona", "Hotline"];

const navbarBtn = "Periksa Mandiri";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro + TailwindCSS</title>
    <link rel="stylesheet" type="text/css" href={Css} />
    <!-- <link rel="stylesheet" type="text/css" href="/global.css" /> -->
    <link rel="preconnect" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin />
    <link href="//fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  </head>

  <body class="font-body">
    <Navbar navbarItems={navbarItems} navbarBtn={navbarBtn}>
      <img class="h-10" src={Logo} alt="Logo" />
    </Navbar>

    <Hero>
      <span slot="hero-main-title">Mari Bersama CEGAH CORONA</span>
      <span slot="hero-main-desc">Covid-19 merupakan pandemi virus yang berbahaya dan dapat menyebar dengan cepat. Yuk kita harus bersatu untuk mengurangi penyebaran Covid-19 agar lebih banyak nyawa yang terselamatkan.</span>
      <span slot="hero-btn-title">Kenali Penyebarannya</span>
      <img slot="hero-image-main" src={IllustrasiHero} alt="Image Hero" />
    </Hero>

    <div class="container mx-auto text-center p-15">
      <h2 class="font-bold text-3xl mb-5">Gejala Corona Virus</h2>
      <p class="max-w-lg mx-auto">Mereka yang terinfeksi korona mungkin memiliki sedikit atau tanpa gejala. Kamu mungkin tidak tahutentang gejala corona virus (COVID-19) karena mirip dengan pilek atau flu.</p>
      <img src="/Symptoms.svg" alt="" class="mx-auto w-auto">
    </div>

    <div class="container mx-auto text-center">
    <h2 class="font-bold text-3xl mb-3">Update Terkini</h2>
    <p>10 agustus 2021 </p>
    </div>
    
    <div class="grid grid-cols-4 gap-4">
    <div>1</div>
    <div>2</div>
    </div>
  </body>
</html>
