---
// Component Imports
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Symptoms from '../components/Symptoms.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';

import Logo from '../../public/Logo.png';
import IllustrasiHero from '../../public/IlustrasiHero.png';
import SymptomsImage from '../../public/Symptoms.svg';
import Placeholder from '../../public/Placeholder.svg';

const Css = Astro.site + "/global.css";

const navbarItems = ["Home", "Tentang Corona", "Hotline"];

const navbarBtn = "Periksa Mandiri";

const navigationItems = ["Features", "Pricing"];

const navigationButton = "Try Free";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro + TailwindCSS</title>
    <link rel="stylesheet" type="text/css" href={Css} />
    <link rel="stylesheet" type="text/css" href="/global.css" />
    <link rel="preconnect" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin />
    <link href="//fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  </head>

  <body class="font-body">
    <Navbar navbarItems={navbarItems} navbarBtn={navbarBtn}>
      <img class="h-10" src={Logo} alt="Logo" />
    </Navbar>

    <Hero>
      <span slot="hero-main-title">Mari Bersama CEGAH CORONA</span>
      <span slot="hero-main-desc">Covid-19 merupakan pandemi virus yang berbahaya dan dapat menyebar dengan cepat. Yuk kita harus bersatu untuk mengurangi penyebaran Covid-19 agar lebih banyak nyawa yang terselamatkan.</span>
      <span slot="hero-btn-title">Kenali Penyebarannya</span>
      <img slot="hero-image-main" src={IllustrasiHero} alt="Image Hero" />
    </Hero>

    <Symptoms>
      <span slot="symptoms-header">
        Gejala Corona Virus
      </span>
      <span slot="symptoms-title">
        Mereka yang terinfeksi korona mungkin memiliki sedikit atau tanpa gejala. Kamu mungkin tidak tahutentang gejala corona virus (COVID-19) karena mirip dengan pilek atau flu.
      </span>
      <span slot="symptoms-image">
        <img src={SymptomsImage} alt="SymptomsImage" class="mx-auto w-auto" />
      </span>
    </Symptoms>

    <!-- Navigation Components -->
    <Navigation navigationItems={navigationItems} navigationButton={navigationButton}>
      <img slot="logo" class="h-10" src={Placeholder} />
    </Navigation>

    <!-- Card Components -->
    <Card images="https://picsum.photos/800/400" badge="Badge" title="This is title" author="John Doe" times="90 minutes">
      <span slot="badge" class="items-center justify-center px-2 py-1 text-xs font-regular leading-none text-white bg-indigo-500 rounded-md">Badge</span>
    </Card>


  </body>
</html>
