---
// Component Imports
<<<<<<< HEAD
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Symptoms from '../components/Symptoms.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import Nav from '../components/Nav.astro'

import Logo from '../../public/Logo.png';
import IllustrasiHero from '../../public/IlustrasiHero.png';
import SymptomsImage from '../../public/Symptoms.svg';
=======

// Astro Components
import Navigation from '../components/Astro/Navigation.astro';
import Card from '../components/Astro/Card.astro';

// React Components
import FeatureSection from '../components/React/FeatureSection/FeatureSection.jsx';
import Upgrade from '../components/React/Upgrade/Upgrade.jsx';
import Avatar from '../components/React/Avatar/Avatar.jsx';
import Pricing from '../components/React/Pricing/Pricing.jsx';
import Login from '../components/React/Login/Login.jsx';

>>>>>>> b29e6ae96503470477b1e50f969d256e30dc004c
import Placeholder from '../../public/Placeholder.svg';
import icirclesolid from '../../public/icirclesolid.svg';
import bell from '../../public/bell.svg';
import booth from '../../public/booth.svg';
import card from '../../public/card.svg';
import refers from '../../public/refers.svg';

const Css = (() => {
  if (process.env.NODE_ENV == "production")
    return Astro.site + "/global.css";
  else
    return "/global.css";
})();

const navigationItems = ["Features", "Pricing"];

const navigationButton = "Try Free";

<<<<<<< HEAD
const Navitems = ["Home","Massages","Orders","Balance"];

const Navbtn = "Groups";
=======
const pricingFeature = ["Feature 1", "Feature 2", "Feature 3", "Feature 4", "Feature 5"];
>>>>>>> b29e6ae96503470477b1e50f969d256e30dc004c
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro + TailwindCSS</title>
    <link rel="stylesheet" type="text/css" href={Css} />
    <link rel="preconnect" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin />
    <link href="//fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  </head>

  <body class="font-body">
    <!-- Navigation Components -->
    <Navigation navigationItems={navigationItems} navigationButton={navigationButton}>
      <img slot="logo" class="h-10" src={Placeholder} />
    </Navigation>

    <!-- Card Components -->
    <Card images="https://picsum.photos/800/400" badge="Badge" title="This is title" author="John Doe" times="90 minutes">
      <span slot="badge" class="items-center justify-center px-2 py-1 text-xs font-regular leading-none text-white bg-indigo-500 rounded-md">Badge</span>
    </Card>

<<<<<<< HEAD

      <Nav  Navbtn={Navbtn} Navitems={Navitems}>
           <img slot="Logo" class="h-10" src={Placeholder} />
      </Nav>


    
=======
    <!-- Navigation 1 -->
    <div class="w-full px-4 mx-auto max-w-screen-2xl sm:px-6 md:px-8 ">
      <div class="flex items-center justify-between h-16 px-12">
      <span class="font-semibold text-2xl leading-none tracking-light text-blue-600 px-16
       ">Mulai</span>
      <ul class="items-center hidden text-sm space-x-5 font-medium text-gray-400 md:flex">
      <li><a class="p-4 px-2 transition rounded-lg focus:outline-none hover:text-gray-700" href="#">Home</a></li>
      <li><a class="p-4 px-2 transition rounded-lg focus:outline-none hover:text-gray-700" href="#">Massages</a></li>
      <li><a class="p-4 px-2 transition rounded-lg focus:outline-none hover:text-gray-700" href="#">Orders</a></li>
      <li><a class="p-4 px-2 transition rounded-lg focus:outline-none hover:text-gray-700" href="#">Balance</a></li>
      <li><a class="p-4 px-2 transition rounded-lg focus:outline-none hover:text-gray-700" href="#">Groups</a></li>
      <div>
      <button type="button" class="px-3 py-2 text-black bg-white shadow-lg rounded-md focus:outline-none">Log in</button></div>
      <div>
      <button type="button" class="px-3 py-2 text-white bg-blue-600 shadow-lg rounded-md focus:outline-none">Sign Up</button></div>
      </ul>
      </div>
    </div>

    <!-- Navigation 2 -->
     <div class="w-full px-4 mx-auto max-w-screen-2xl sm:px-6 md:px-8 ">
      <div class="flex items-center h-16 px-12">
      <span class="font-semibold text-2xl leading-none tracking-light text-blue-600 px-16
       ">Mulai</span>
      <form class="px-5">
        <input name="q" type="text" size="15" placeholder="search..." />
      </form>
      <ul class="items-center hidden text-sm space-x-4 px-2 font-medium text-gray-400 md:flex">
      <li><a class="p-4 px-2 transition rounded-lg focus:outline-none hover:text-gray-700" href="#">Home</a></li>
      <li><a class="p-4 px-2 transition rounded-lg focus:outline-none hover:text-gray-700" href="#">Massages</a></li>
      <li><a class="p-4 px-2 transition rounded-lg focus:outline-none hover:text-gray-700" href="#">Orders</a></li>
      <li><a class="p-4 px-2 transition rounded-lg focus:outline-none hover:text-gray-700" href="#">Balance</a></li>
      <li><a class="p-4 px-2 transition rounded-lg focus:outline-none hover:text-gray-700" href="#">Groups</a></li>
      </ul>

       <div class=" inline-flex items-center space-x-4 ml-80 ">
       <a class="w-6 h-5"  href="#"><img  src={icirclesolid} /></a> 
       <a class="w-6 h-5"  href="#"><img  src={bell} /></a> 
        <a  class="p-1 text-white text-sm bg-purple-700 rounded-full focus:outline-none" href="#">JW</a>
      </div>
       
      </div>
    </div>

     <!-- Mavigation 3 -->
      <div class="w-full px-4 mx-auto max-w-screen-2xl sm:px-6 md:px-8 ">
      <div class="flex items-center justify-between h-16 px-12">
      <span class="font-semibold text-2xl leading-none tracking-light text-blue-600 px-16
       ">Mulai</span>
      <ul class="items-center hidden text-sm space-x-5 md:flex">
      <li><a class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium " href="#">Offers</a></li>
      <li><a class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium" href="#"><img class="inline-block w-4 h-5 "  src={card} /> Card</a></li>
      <li><a class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium" href="#">Transaction</a></li>
      <li><a class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium" href="#"><img class="inline-block w-4 h-5 " src={booth}/> Booth</a></li>
      <li><a class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium" href="#"><img class="inline-block w-4 h-5 "  src={refers} /> Refer</a></li>
      <div>
      </ul>

      <div class="flex items-center space-x-4 ">
       <a class="w-6 h-5"  href="#"><img  src={icirclesolid} /></a> 
       <a class="w-6 h-5"  href="#"><img  src={bell} /></a> 
        <a  class="p-1 text-white text-sm bg-purple-700 rounded-full focus:outline-none" href="#">JW</a>
      </div>
      </div>

      </div>

      <!-- FeatureSection -->
      <FeatureSection
        image="https://picsum.photos/800/400"
        title="Lorem Ipsum"
        description="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum." />

      <!-- Alert -->
      <Upgrade
        alert=false
        image={Placeholder}
        title="Free Plan"
        description="The development of the mass spectrometer allowed the mass of atoms to be measured."
        currency="$"
        price="19"
        btnAccept="Upgrade Now"
        btnReject="No, Thanks"/>

      <!-- Avatar   -->
      <Avatar roundedFull images="https://picsum.photos/800/400" />

      <!-- Pricing -->
      <Pricing
        badge="Most Popular"
        currency="$"
        price="35"
        license="Individual"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit"
        feature={pricingFeature}
        button="/pricing"/>
>>>>>>> b29e6ae96503470477b1e50f969d256e30dc004c

  </body>
</html>
