---
const { currency, price, license, badge, content, button } = Astro.props;
---
<div class="flex justify-center items-center h-screen">
    <div class="max-w-md rounded-3xl overflow-hidden shadow-lg bg-indigo-500 text-white p-8">
        {badge && (<div class="text-right"><span class="inline-block uppercase text-white bg-indigo-700 rounded-full px-5 py-1 text-sm font-semibold mb-2">{badge}</span></div>)}
        <h2 class="font-bold text-4xl mb-8">{currency}{price} <small class="text-sm font-thin">/month</small></h2>
        <h3 class="font-bold text-xl mb-8">{license}</h3>
        <slot />
        <select class="bg-indigo-500 mb-8 p-2 block w-full rounded-md border border-white ring-0 ring-offset-0 outline-none">
            <option>1-5 Users</option>
            <option>6-20 Users</option>
            <option>21-50 Users</option>
        </select>
        <a href="{button}" class="p-3 rounded-xl bg-green-400 text-white text-center block">Choose plan</a>
    </div>
</div>